---

- name: Create persistent directories for Metricbeat
  file:
    path: "{{ item }}"
    state: directory
    owner: "1000"
    group: "1000"
    mode: '0755'
  loop:
    - "{{ metricbeat_config }}/certs"
    - "{{ metricbeat_config }}/config"
  tags:
  - create_dirs
