queue.type: memory
log.level: info
log.format: json
monitoring.enabled: false
monitoring.cluster_uuid: "{{cluster_uuid}}"
xpack.monitoring.enabled: true
node.name: "{{inventory_hostname_short}}.logstash_{{logstash.instance_name}}"

http.host: "{{logstash.ip_address}}"
http.port: "{{logstash.api_port}}"

config.reload.automatic: true

{% if xpack_management is defined and xpack_management == true %}
xpack.management.enabled: true
xpack.management.elasticsearch.hosts: ["{{ groups['elastic_master_nodes']|join('", "') }}"]
xpack.management.elasticsearch.username: logstash_admin
xpack.management.elasticsearch.password: "{{ logstash_admin_password }}"
xpack.management.logstash.poll_interval: 5s
xpack.management.pipeline.id:
{% for id in logstash_pipelines %}
    - "{{id}}"
{% endfor %}

xpack.management.elasticsearch.ssl.certificate_authority: /usr/share/logstash/certs/ca.crt
{% endif %}
