{% for pipeline in logstash_pipelines %}
- pipeline.id: "{{ pipeline.name }}_{{ pipeline.id }}"
  path.config: "/usr/share/logstash/pipeline/{{ pipeline.name }}_{{ pipeline.id }}.conf"
  pipeline.workers: "{{pipeline.pipeline_workers}}"
  queue.type: memory
{% endfor  %}
