input {
  beats {
    port => {{ logstash.ports[0] }}
  }
}

output {
  elasticsearch {
    hosts => [ "{{ groups['elastic_master_nodes']|join('", "')}}" ]
    index => "%{[@metadata][beat]}-%{[@metadata][version]}"
    ecs_compatibility => v1
    ssl => true
    ssl_certificate_verification => false
    cacert => "/usr/share/logstash/certs/ca.crt"
    user => logstash_internal
    password => {{logstash_internal_password}}

  }
}
