---
# defaults file for logstash
state: "started"
recreate: "no"
firewalld_zone: "public"
firewalld_enabled: "no"
timezone: "Europe/Budapest"

# networking
logstash_pod_name: "logstash"
logstash_pod_network: "host"

# persistent directories
logstash_config: "{{ container_conf_dir }}/{{inventory_hostname_short}}.logstash_{{logstash.instance_name}}"
logstash_data: "{{ container_data_dir }}/{{inventory_hostname_short}}.logstash_{{logstash.instance_name}}"

# image tag and version
logstash_image: "docker.elastic.co/logstash/logstash"
logstash_version: "{{ elk_version | default(7.14.1)}}"

# logstash_admin_user is for centralized pipeline management: xpack.management.elasticsearch.username
# logstash_internal is for ingesting logs to Elasticsearch output
# logstash_system user is for storing monitoring information in Elasticsearch.
# logstash_user is for read only access to logstash indices
logstash_admin_password: "{{vault_logstash_admin_password | default(changeMe)}}"
logstash_internal_password: "{{vault_logstash_internal_password | default(changeMe)}}"
logstash_system_password: "{{vault_logstash_system_password | default(changeMe)}}"
logstash_user_password: "{{vault_logstash_user_password | default(changeMe)}}"

# should be a separate cert than instance key but we're lazy now
logstash_ssl_cert: "{{ vault_cluster_instance_crt }}"
logstash_ssl_key: "{{ vault_cluster_instance_cert_key }}"

# Sizing help: https://www.elastic.co/guide/en/logstash/current/jvm-settings.html
# https://www.elastic.co/guide/en/logstash/current/tuning-logstash.html
logstash:
  instance_name: "internal01"
  ip_address: "0.0.0.0"
  java_opts: "-Xms2g -Xmx2g"
  memory_limit: 2g
  cpu_limit: 2
  xpack_management: false
  api_port: "9600"
  ports:
    - "5045"
    - "7500"
    - "7501"
    - "7502"
    - "7503"
    - "7504"
    - "7505"
    - "9600"
    - "9601"

logstash_pipelines:
    - name: arcsight
      type: arcsight
      id: "001"
      enabled: False
      input_port: "7500"
      pipeline_workers: "1"
      output_user: logstash_internal
      output_password: "{{logstash_internal_password}}"
      output_index: "arcsight-%{+YYYY.MM.dd}"
    - name: beats
      type: beats
      id: "001"
      enabled: False
      input_port: "5045"
      pipeline_workers: "1"
      output_user: logstash_internal
      output_password: "{{logstash_internal_password}}"
      output_index: '%{[@metadata][beat]}-%{[@metadata][version]}'

cluster_ca_crt: "{{ vault_cluster_ca_crt }}"
